extends default

block content
  div.container-login
    h1 Login
    table(class='table-login' border='1' frame='void' rules='rows')
      each i in idps
        tr
          td
            a.button(href=`/login?idp=` + i.id) #{i.name}

