extends default

block content
  div.container-login
    div.idp
      a.button(href=`/login?idp=EU.EORI.NLHAPPYPETS`)
        | Login (HappyPets)
    div.idp
      a.button(href=`/login?idp=EU.EORI.NLNOCHEAPER`)
        | Login (NoCheaper)

