extends default

block topnav
  div.topnav
    if (user)
      a(href=`/logout`)
        | Logout
      p #{user}

block content
  div.container
    div.content-row
      h2 JWT Access Token
    div.content-row
      p #{access_token}
