extends default

block topnav
  div.topnav
    if (user)
      block user

block content
  div.container
    block search
    if (entities)
      block entities
    if (entity)
      block entity
    if (delivery)
      block delivery
