/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
div {
    margin: 0;
    padding: 0;
}



/* FONTS
   ========================================================================== */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
    margin: 0;
    padding: 0;
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #525286;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.title {
    color: inherit;
    text-decoration: none;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #F0F8FF;
  height: 50px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #00008B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav p {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* IDP Login
   ========================================================================== */

.container-login {
  box-sizing: inherit; /* [1] */
  width: 95%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table-login {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}




/* Portal Page
   ========================================================================== */

.container {
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0;
} /* margin: 0; */

.content-row {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.content-delivery-row {
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.delivery-id {
    margin-top: 40px;
    color: #525286;
    margin-bottom: 50px;
}


/* Table
   ========================================================================== */

.table {
    text-align: center;
    width: 70%;
    table-layout: auto;
}

.highlight {
    background-color: #ddd;
}


/* Buttons
   ========================================================================== */

.button {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 20px
}
.button-sd {
  left: 40%;
}

label {
    display: inline-block;
    margin: 10px;
}

.card-wide.mdl-card {
  width: 512px;
  background-color: rgba(0, 0, 255, 0.02);
}

.card-table {
  width: 100%;
}
.card-small.mdl-card {
  width: fit-content;
  min-height: 0;
  height: fit-content;
  background-color: rgba(0, 0, 255, 0.02);
}

.card-wide > .mdl-card__title {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0)), url('https://www.gxfs.eu/wp-content/uploads/2022/01/GFXS_DE_Logo.jpg');
  background-size: 512px, 80px;
  background-repeat: no-repeat;
  background-position: top right;
  color: #000;
  height: 80px;
}
.card-wide > .mdl-card__supporting-text {
  background-color: #000 10%;
}

.card-small > .mdl-card__title {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0));
  background-size: 512px, 30px;
  background-repeat: no-repeat;
  background-position: top right;
  color: #000;
  height: 30px;
}
.card-small > .mdl-card__supporting-text {
  background-color: #000 10%;
  width: 100%;
}


.block {
  float: left;
  padding: 0 10px;
  width: 50%;
}

